@mixin track-color-triads($fg-val, $bg-val, $play-val) {
  .track-info {
    > span {
      color: $text;
      border: 3px solid $text;
      background-color: transparentize($fg-val, 0.2);
      box-shadow: 3px 3px 0 transparentize($bg-val, 0.1),
                  6px 6px 0 $text;
    }
  }

  &.playing .track-overlay {
    background-color: transparentize($play-val, .6);
  }
}

$color-triad-groups: (
  $blue: (
    $green: $pink,
    $yellow: $fuchsia,
    $lavender: $red
  ),
  $fuchsia: (
    $green: $red,
    $lavender: $red,
    $aqua: $lapis,
    $yellow: $green,
    $orchid: $blue
  ),
  $red: (
    $yellow: $fuchsia,
    $blue: $pink,
    $orange: $lavender,
    $lavender: $green
  ),
  $pink: (
    $green: $fuchsia,
    $blue: $red,
    $yellow: $blue
  )
);

$i: 1;

@each $front, $list in $color-triad-groups {
  @each $back, $playing in $list {
    .color-scheme-#{$i} {
      @include track-color-triads($front, $back, $playing);
    }
    $i: $i + 1;
  }
}
