@import '../config/MASTER';

body {
  font-family: $mono;
}

ol,
ul {
  padding: 0;
}

li {
  list-style: none;
}

a {

  &:hover,
  &:active {
    text-decoration: none;
  }
}

.row {
  margin-left: 0;
  margin-right: 0;
}

button:focus {
  outline: 0;
}
