@import '../config/MASTER';

.page-header,
.page-subheader {
  font-size: 2rem;
}

.page-header {
  font-family: $sans-serif;
  // margin: 20px 0 10px;
}

.page-subheader {
  font-family: $sans-serif-narrow;
}
