.song-entry {
  @extend %flex-h-space-between;
  @extend %kona-shadow;
  padding: 20px 0 10px;
  margin-top: 10px;
}

.song-header {
  flex: 3 0 250px;
  text-align: left;
  padding-left: 10px;
}

.song-title {
  font-size: 2rem;
}

.song-details {
  @extend %flex-h-flex-end;
  flex: 2 2 200px;
}

.song-artist,
.song-album {
  margin: 0 20px;
  padding: 7px 0 10px 30px;
  border-top: $single-border $cornflower;
  text-align: right;
}

.song-artist {
  text-transform: uppercase;
}

.song-album {
}
