// Heroic Condensed Book
@font-face {
  font-family: 'Heroic Condensed Book';
  src: url('heroic-condensed-book.ttf'),
  url('heroic-condensed-book.woff'),
  url('heroic-condensed-book.woff2');
}
// Heroic Condensed Regular
@font-face {
  font-family: 'Heroic Condensed Regular';
  src: url('heroic-condensed-regular.ttf'),
  url('heroic-condensed-regular.woff'),
  url('heroic-condensed-regular.woff2');
}
// Heroic Condensed Medium
@font-face {
  font-family: 'Heroic Condensed Medium';
  src: url('heroic-condensed-medium.ttf'),
  url('heroic-condensed-medium.woff'),
  url('heroic-condensed-medium.woff2');
}
