<footer class="app-footer">
  <nav class="app-nav">
    <span class="active nav-item">
      <%= link_to "Home",   'static_pages/home' %>
    </span>
    <span class="nav-item">
      <%= link_to "About",   'static_pages/about' %>
    </span>
    <span class="nav-item">
      <%= link_to "Contact",   'static_pages/contact' %>
    </span>
    <span class="nav-item">
      <%= link_to "Help",   'static_pages/help' %>
    </span>
  </nav>
</footer>
