<footer class="app-footer">
  <nav class="app-nav">
    <span class="active nav-item">
      <%= link_to "Home",   home_path %>
    </span>
    <span class="nav-item">
      <%= link_to "About",   about_path %>
    </span>
    <span class="nav-item">
      <%= link_to "Contact",   contact_path %>
    </span>
    <span class="nav-item">
      <%= link_to "Help",   help_path %>
    </span>
  </nav>
</footer>
