<% provide(:title, "help") %>
<!DOCTYPE html>
<html>
  <head>
    <title>playsette | <%= yield(:title) %></title>
  </head>
  <body>
    <h1>help</h1>
    <p>
      Should be wavy.
    </p>
  </body>
</html>
