<nav class="charts-header-nav">
  <span class="nav-item"><%= link_to "Top",   '#' %></span>
  <span class="nav-item"><%= link_to "New",   '#' %></span>
  <span class="nav-item"><%= link_to "Recommended", '#' %></span>
</nav>
