<nav class="charts-header-nav">
  <span class="nav-item active"><%= link_to "Top",   '#' %></span>
  <span class="nav-item"><%= link_to "New",   '#' %></span>
  <span class="nav-item"><%= link_to "Recommended", '#' %></span>
</nav>
<div class="chart-container">
  <div class="chart-entry">
    <div class="song-header">
      <div class="song-title">
        Walk on the Wild Side
      </div>
    </div>
    <div class="song-details">
      <div class="song-artist">
        <span class="chart-dash"></span>
        <span>
          Lou Reed
        </span>
      </div>
      <div class="song-album">
        <span class="chart-dash"></span>
        <span>
          Transformer
        </span>
      </div>
    </div>
  </div>
</div>
