<% provide(:title, "home") %>

<%= render 'static_pages/charts-nav' %>

<div class="content-container">

  <div class="chart-entry">
    <div class="chart-entry-rank">
      <div class="rank-number">
        <span>1</span>
      </div>
    </div>
    <div class="chart-entry-song">
      <div class="song-header">
        <div class="song-title">
          Walk on the Wild Side
        </div>
      </div>
      <div class="song-details">
        <div class="song-artist">
          <span class="chart-dash"></span>
          <span>Lou Reed</span>
        </div>
        <div class="song-album">
          <span class="chart-dash"></span>
          <span>
            Transformer
            <text class="song-year">1972</text>
          </span>

        </div>
      </div>
    </div>
    <div class="spoiler"></div>
  </div>

  <div class="chart-entry">
    <div class="chart-entry-rank">
      <div class="rank-number">
        <span>2</span>
      </div>
    </div>
    <div class="chart-entry-song">
      <div class="song-header">
        <div class="song-title">
          Cherry-Coloured Funk
        </div>
      </div>
      <div class="song-details">
        <div class="song-artist">
          <span class="chart-dash"></span>
          <span>Cocteau Twins</span>
        </div>
        <div class="song-album">
          <span class="chart-dash"></span>
          <span>
            Heaven or Las Vegas
            <text class="song-year">1990</text>
          </span>
        </div>
      </div>
    </div>
    <div class="spoiler"></div>
  </div>

  <div class="chart-entry">
    <div class="chart-entry-rank">
      <div class="rank-number">
        <span>3</span>
      </div>
    </div>
    <div class="chart-entry-song">
      <div class="song-header">
        <div class="song-title">
          Burning Down the House
        </div>
      </div>
      <div class="song-details">
        <div class="song-artist">
          <span class="chart-dash"></span>
          <span>Talking Heads</span>
        </div>
        <div class="song-album">
          <span class="chart-dash"></span>
          <span>
            Speaking in Tongues
            <text class="song-year">1983</text>
          </span>
        </div>
      </div>
    </div>
    <div class="spoiler"></div>
  </div>

</div>
