<nav class="header-song-nav">
  <span class="header-nav-item"><%= link_to "Top",   '#' %></span>
  <span class="header-nav-item"><%= link_to "New",   '#' %></span>
  <span class="header-nav-item"><%= link_to "Recommended", '#' %></span>
</nav>
