/**
* SassFlexbox
* Manage Flexbox in Sass easily.
*
* @author     Samuel Marchal (zessx)
* @version    0.1
*/

/*
    Display
 */

/*
    Flex direction
 */

/*
    Flex wrap
 */

/*
    Flex flow
 */

/*
    Order
 */

/*
    Flex grow
 */

/*
    Flex shrink
 */

/*
    Flex basis
 */

/*
    Flex
 */

/*
    Justify content
 */

/*
    Align items
 */

/*
    Align self
 */

/*
    Align content
 */

body {
  background: #fff;
  background-size: 130px;
  color: #000;
}

a {
  color: #000;
  text-decoration: none;
}

@font-face {
  font-family: 'Fenomen Sans Condensed';
  src: font-url("/assets/fenomen-sans/FenomenSansXCNLight.otf");
}

@font-face {
  font-family: 'Fenomen Sans Condensed Italic';
  src: font-url("/assets/fenomen-sans/FenomenSansXCNLightItalic.otf");
}

@font-face {
  font-family: 'Fenomen Sans Condensed Light';
  src: font-url("/assets/fenomen-sans/FenomenSansXCNBook.otf");
}

@font-face {
  font-family: 'Fenomen Sans Condensed Light Italic';
  src: font-url("/assets/fenomen-sans/FenomenSansXCNBookItalic.otf");
}

@font-face {
  font-family: 'Fenomen Sans Condensed Bold';
  src: font-url("/assets/fenomen-sans/FenomenSansXCNSemiBold.otf");
}

@font-face {
  font-family: 'Fenomen Sans Condensed Bold Italic';
  src: font-url("/assets/fenomen-sans/FenomenSansXCNSemiBoldItalic.otf");
}

@font-face {
  font-family: 'Fenomen Sans';
  src: font-url("/assets/fenomen-sans/FenomenSansBook.otf");
}

@font-face {
  font-family: 'Fenomen Sans Italic';
  src: font-url("/assets/fenomen-sans/FenomenSansBookItalic.otf");
}

@font-face {
  font-family: 'Fenomen Sans Light';
  src: font-url("/assets/fenomen-sans/FenomenSansLight.otf");
}

@font-face {
  font-family: 'Fenomen Sans Light Italic';
  src: font-url("/assets/fenomen-sans/FenomenSansLightItalic.otf");
}

@font-face {
  font-family: 'Fenomen Sans Bold';
  src: font-url("/assets/fenomen-sans/FenomenSansSemiBold.otf");
}

@font-face {
  font-family: 'Fenomen Sans Bold Italic';
  src: font-url("/assets/fenomen-sans/FenomenSansSemiBoldItalic.otf");
}

@font-face {
  font-family: 'Fabrikat Mono';
  src: font-url("/assets/fabrikat-mono/FabrikatMonoRegular.otf");
}

@font-face {
  font-family: 'Fabrikat Mono Italic';
  src: font-url("/assets/fabrikat-mono/FabrikatMonoItalic.otf");
}

@font-face {
  font-family: 'Fabrikat Mono Light';
  src: font-url("/assets/fabrikat-mono/FabrikatMonoLight.otf");
}

@font-face {
  font-family: 'Fabrikat Mono Light Italic';
  src: font-url("/assets/fabrikat-mono/FabrikatMonoLightItalic.otf");
}

@font-face {
  font-family: 'Fabrikat Mono Bold';
  src: font-url("/assets/fabrikat-mono/FabrikatMonoBold.otf");
}

@font-face {
  font-family: 'Fabrikat Mono Bold Italic';
  src: font-url("/assets/fabrikat-mono/FabrikatMonoBoldItalic.otf");
}

@font-face {
  font-family: 'Mysteria';
  src: font-url("/assets/mysteria/Mysteria-Light.otf");
}

@font-face {
  font-family: 'Mysteria Bold';
  src: font-url("/assets/mysteria/Mysteria-Bold.otf");
}

@font-face {
  font-family: 'Autorich Sans';
  src: font-url("/assets/autorich-sans/AutorichSans.otf"), font-url("/assets/autorich-sans/AutorichSans.woff"), font-url("/assets/autorich-sans/AutorichSans.woff2");
}

@font-face {
  font-family: 'AutorichSansLite';
  src: font-url("/assets/autorich-sans/AutorichSansLite.otf"), font-url("ars-lt.woff"), font-url("ars-lt.woff2");
}

body {
  background: #fff;
  background-size: 130px;
  color: #000;
}

a {
  color: #000;
  text-decoration: none;
}

.track-social {
  padding: 0;
}

.track-social > div {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.track-comment-button,
.track-like-button {
  background-color: #fff;
  color: #000;
  height: 37px;
  width: 37px;
}

.track-comment-button.fa,
.track-like-button.fa {
  font-size: 22px;
}

.track-comment-button {
  padding-top: 6px;
}

.track-like-button {
  padding-top: 10px;
}

.track-comment-count {
  padding: 0 20px 0 5px;
}

.track-like-count {
  padding: 0 0 0 5px;
}

.social-col {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.liked {
  background-color: #02a9ea;
}


/*# sourceMappingURL=_social-6120a82ce6f8d780f39341c3821a04f9.css.map*/