<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Charts</a>
  <div class="dropdown-menu">
    <%= link_to "Audio", root_path, class: 'dropdown-item' %>
    <%= link_to "Video", root_path, class: 'dropdown-item' %>
    <div class="dropdown-divider"></div>
    <%= link_to "All", root_path, class: 'dropdown-item' %>
  </div>
</li>

<li class="nav-item">
  <%= link_to 'Submit', submit_embed_path, class: 'nav-link' %>
</li>
