<div id="track-<%= track.id %>" class="chart-entry">
  <div class="chart-entry-rank">
    <div class="rank-number">
      <span><%= track.id %></span>
    </div>
  </div>
  <div class="chart-entry-song">
    <div class="song-header">
      <div class="song-title">
        Satellite of Love
      </div>
    </div>
    <div class="song-details">
      <div class="song-artist">
        <span class="chart-dash"></span>
        <span>Lou Reed</span>
      </div>
      <div class="song-album">
        <span class="chart-dash"></span>
        <span>
          Transformer
          <text class="song-year">1972</text>
        </span>

      </div>
    </div>
  </div>
  <div>
    <span class="track-timestamp">
      - <text>posted by</text>
      (user)
      | <%= time_ago_in_words(track.created_at) %> ago
    </span>
  </div>
  <div class="spoiler"></div>
</div>
