
<div class="row">
  <iframe style="border: 0; width: 400px; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=3701196449/size=large/bgcol=ffffff/linkcol=333333/tracklist=false/artwork=small/track=1079575302/transparent=true/" seamless><a href="http://grabbingclouds.bandcamp.com/album/blood-sister-dysphoria-7">Blood Sister - Dysphoria 7&quot; by Grabbing Clouds Records and Tapes</a></iframe>
</div>

<div class="row">
  <iframe width="400" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/309871498&amp;color=333333&amp;auto_play=false&amp;hide_related=true&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false"></iframe>
</div>

<div class="row">
  <iframe style="border: 0; width: 400px; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=3701196449/size=small/bgcol=ffffff/linkcol=333333/track=1079575302/transparent=true/" seamless><a href="http://grabbingclouds.bandcamp.com/album/blood-sister-dysphoria-7">Blood Sister - Dysphoria 7&quot; by Grabbing Clouds Records and Tapes</a></iframe>
</div>

<div class="row">
  <iframe style="border: 0; width: 400px; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=3701196449/size=small/bgcol=ffffff/linkcol=333333/artwork=none/track=1079575302/transparent=true/" seamless><a href="http://grabbingclouds.bandcamp.com/album/blood-sister-dysphoria-7">Blood Sister - Dysphoria 7&quot; by Grabbing Clouds Records and Tapes</a></iframe>
</div>

<div class="row">
    <iframe width="400" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/309871498&amp;color=333333&amp;auto_play=false&amp;hide_related=true&amp;show_comments=false&amp;show_user=true&amp;show_reposts=falsee&amp;visual=false&amp;show_artwork=false&amp;sharing=false&amp;liking=false"></iframe>
</div>

<div class="row">
  <iframe src="https://open.spotify.com/embed?uri=spotify:track:5JunxkcjfCYcY7xJ29tLai&theme=white&view=list"
          width="400" height="auto" frameborder="0" allowtransparency="true"></iframe>
</div>

<!-- <div class="row"></div> -->

<div class="row">

  <iframe style="border: 0; width: 250px; height: 380px;" src="https://bandcamp.com/EmbeddedPlayer/album=3701196449/size=large/bgcol=ffffff/linkcol=333333/tracklist=false/track=1079575302/transparent=true/" seamless><a href="http://grabbingclouds.bandcamp.com/album/blood-sister-dysphoria-7">Blood Sister - Dysphoria 7&quot; by Grabbing Clouds Records and Tapes</a></iframe>

  <iframe src="https://open.spotify.com/embed?uri=spotify:track:5JunxkcjfCYcY7xJ29tLai&theme=white"
          width="250" height="380" frameborder="0" allowtransparency="true"></iframe>

  <iframe width="250" height="380" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/309871498&amp;auto_play=false&amp;hide_related=true&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false&amp;visual=true"></iframe>

</div>
