<div class="row">
    <iframe width="370" height="80" scrolling="no" frameborder="no" allowtransparency="true" src="https://bandcamp.com/EmbeddedPlayer/album=3701196449/size=small/bgcol=ffffff/linkcol=333333/tracklist=false/artwork=none/track=1079575302/transparent=true/" seamless></iframe>
</div>

<div class="row">
    <iframe width="370" height="80" scrolling="no" frameborder="no" allowtransparency="true" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/309871498&amp;color=333333&amp;background=ffffff&amp;auto_play=false&amp;hide_related=true&amp;show_comments=false&amp;show_user=true&amp;show_reposts=falsee&amp;visual=false&amp;show_artwork=false&amp;sharing=false&amp;liking=false" seamless></iframe>
</div>

<div class="row">
    <iframe width="370" height="80" scrolling="no" frameborder="no" allowtransparency="true" src="https://open.spotify.com/embed?uri=spotify:track:5JunxkcjfCYcY7xJ29tLai&theme=white&view=list" seamless></iframe>
</div>
