<nav class="charts-header-nav">
  <span class="nav-item active"><%= link_to "Top", root_path %></span>
  <span class="nav-item"><%= link_to "New", '#' %></span>
  <span class="nav-item"><%= link_to "Recommended", '#' %></span>
  <span class="nav-item"><%= link_to "Submit", set_up_track_submission_path %></span>
</nav>
