<nav class="nav navbar-default">
  <ul class="nav nav-tabs page-nav">
    <li class="active"><%= link_to 'Top', root_path %></li>
    <li><%= link_to 'New', '#' %></li>
    <li><%= link_to 'All time', '#' %></li>
    <li><%= link_to 'Following', '#' %></li>
  </ul>
</nav>
