<div class="chart-entry">
  <div class="chart-entry-rank">
    <div class="rank-number">
      <span>1</span>
    </div>
  </div>
  <div class="chart-entry-song">
    <div class="song-header">
      <div class="song-title">
        Satellite of Love
      </div>
    </div>
    <div class="song-details">
      <div class="song-artist">
        <span class="chart-dash"></span>
        <span>Lou Reed</span>
      </div>
      <div class="song-album">
        <span class="chart-dash"></span>
        <span>
          Transformer
          <text class="song-year">1972</text>
        </span>

      </div>
    </div>
  </div>
  <div class="spoiler"></div>
</div>
