<% provide(:title, "top") %>


<section class="content-container">
  <div class="page-header">CHARTS</div>

  <%= render 'tracks/menus/index' %>

  <div class="row row-eq-height tracks-container">
      <%= render @tracks %>
  </div>

  <div class="row">
    <%= will_paginate @tracks %>
  </div>
</section>
