<%= render 'tracks/headers/index' %>

<div id="tracks-container" class="row row-eq-height tracks-container">
  <%= render @tracks %>
</div>

<div class="row">
  <%= will_paginate @tracks %>
</div>

<div class="playerbar"></div>
