<% provide(:title, "recommended") %>

<%= render 'tracks/charts-nav' %>


<section class="content-container static-pages">
  <div class="page-header">Recommended tracks</div>
  <div>Vote on tracks or submit your own to get more suggestions.</div>

</section>
