<% provide(:title, "submit track") %>
<section class="content-container static-pages">
  <div class="page-header">submit track</div>

  <nav class="nav navbar-default">
    <ul class="nav nav-tabs page-nav">
      <li class="track_kind" id="select_url" val="url"><a>Submit link</a></li>
      <li class="track_kind" id="select_upload" val="upload"><a>Upload file</a></li>
    </ul>
  </nav>

  <div id="submit_url">
    <%= render 'tracks/embeddeds/new' %>
  </div>

  <div id="submit_upload">
    <%= render 'tracks/uploads/new' %>
  </div>

</section>
