@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i|Michroma|Oswald:300,400');

body,
%body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 17px;
}

%body-italic {
  @extend %body;
  font-style: italic;
  letter-spacing: .02rem;
}

%body-bold-italic {
  @extend %body-italic;
  font-weight: 600;
}

%alt-bold-upper {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

a {
  &:active,
  &:visited,
  &:hover,
  &:link {
    text-decoration: none;
  }
}
