@import '../config/base-mixins';
@import '../config/base-colors';

$thin-border: 1px solid;
$single-border: 2px solid;
$thick-border: 4px solid;

.content-container,
.app-header,
.app-footer,
.app-header-title {
  border: $thick-border $text;
}
