// COLORS
$white: #fff;
$black: #000;

$lapis: #1e17b2;
$sky: #017ce5;
$ice: #c1fff4;

$fuchsia: #dd34c7;
$coral: #ff6d54;
$strawberry: #ff8ebd;
$blush: #ffcccc;

$forest: #009e49;
$turquoise: #00c4c1;
$sunshine: #fffc51;
$citrine: #c1e65e;


// App scheme
$background: $white;
$text: $black;
$block-solid: $white;
$highlight-1: $lapis;
$highlight-2: $fuchsia;
$highlight-3: $sky;
// $bg-img: 'backgrounds/texture3.png';


// Set base
body {
  background-color: $background;
  // background-image: image-url($bg-img);
  // background-repeat: repeat;
  color: $text;
}

a {
  color: $text;
  text-decoration: none;
}
