// pastel
// $background: #68c4a7;    //---aqua
// $text: #111;             //---darkest grey
// $block-solid: #fff;      //---white
// $block-backer: #424141;  //---dark grey
// $highlight-2: #779dd6;   //---light blue
// $highlight-1: #f6b0b0;   //---pink

// pink/blue
// $background: #fcd6ef;
// $text: #16113a;
// $block-solid: #fff;
// $block-backer: #19328f;
// $highlight-1: #e38ace;
// $highlight-2: #19328f;

// bold 90s
// $background: #000;       //---black
// $text: #000;             //---black
// $block-solid: #fff;      //---white
// // $block-backer: #f60f7f;  //---pink
// // $highlight-1: #68e2cb;   //---aqua
// $block-backer: #ffd460;  //---gold
// $highlight-1: #68e2cb;   //---aqua
// $highlight-2: #5c39b5;   //---purple
// $bg-img: 'config/backgrounds/geometric-stripe-bw-xs.jpg';

// jungle
$background: #000;       //---black
$text: #000;             //---black
$block-solid: #fff;      //---white
$block-backer: #2c6255;  //---dark green
$highlight-1: #9fcbb2;   //---light green
$highlight-2: #ff8a7f;   //---coral
$bg-img: 'backgrounds/palm-geometric-stripe-bw.jpg';

body {
  background-image: image-url($bg-img);
  background-repeat: repeat;
  color: $text;
}

a {
  color: $text;
  text-decoration: none;
}
