// COLORS
$white: #fff;
$black: #000;

$lapis: #0800a3;
$sky: #2db9ff;
$ice: #9ee5ff;

$fuchsia: #ff42cc;
$coral: #ffa88e;
$strawberry: #ff7ca6;
$blush: #ffd6e8;

$forest: #00d8c6;
$turquoise: #44fffb;
$sunshine: #dbc748;
$citrine: #dbff7a;


// App scheme
$background: $white;
$text: $black;
$block-solid: $white;
$highlight-1: $lapis;
$highlight-2: $fuchsia;
$highlight-3: $turquoise;
$highlight-4: $citrine;
// $bg-img: 'backgrounds/texture3.png';


// Set base
body {
  background-color: $background;
  // background-image: image-url($bg-img);
  // background-repeat: repeat;
  color: $text;
}

a {
  color: $text;
  text-decoration: none;
}
