@import url('https://fonts.googleapis.com/css?family=Oswald:300|Josefin+Sans:400,600,600i|Michroma');

body,
%body {
  font-family: 'Josefin Sans', sans-serif;
}

%body-italic {
  font-family: 'Josefin Sans', sans-serif;
  font-style: italic;
  font-weight: 600;
}

%bold-upper {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

a {
  &:active,
  &:visited,
  &:hover,
  &:link {
    text-decoration: none;
  }
}
