// @import 'config/fonts/avenir/base-avenir';
// @import 'config/fonts/knockout/base-knockout';
@import 'config/fonts/brother-1816/base-brother-1816';
@import 'config/fonts/heroic-condensed/base-heroic-condensed';

@import url('https://fonts.googleapis.com/css?family=Michroma');

body,
%body {
  font-family: 'Brother 1816 Regular', sans-serif;
}

%alt {
  font-family: 'Heroic Condensed Regular', sans-serif;
}

%alt-bold {
  font-family: 'Heroic Condensed Medium', sans-serif;
}

%body-bold{
  font-family: 'Brother 1816 Medium', sans-serif;
}

%body-italic {
  font-family: 'Brother 1816 Regular Italic', sans-serif;
}

%body-bold-italic {
  font-family: 'Brother 1816 Medium Italic', sans-serif;
}

%body-upper {
  @extend %body;
  text-transform: uppercase;
}

%alt-upper {
  @extend %alt;
  text-transform: uppercase;
}

%alt-bold-upper {
  @extend %alt-bold;
  text-transform: uppercase;
}

a {
  &:active,
  &:visited,
  &:hover,
  &:link {
    text-decoration: none;
  }
}
