@import 'vendor/sass-flexbox';
@import 'config/base-mixins';
@import 'config/base-flex-styles';
@import 'config/base-typography';
@import 'config/base-colors';
@import 'config/base-borders';

// BOOTSTRAP OVERRIDE

* {
  background-color: transparent;
  background: transparent;
  text-decoration: transparent;
}

nav,
.navbar,
.navbar-nav,
.active {
  background-color: transparent;
}
