// COLORS
$white: #fff;
$black: #000;



$ltpink: #ffbabc;
$coral: #fe938c;
$terra: #ed6a5a;
$pink: #f76f8e;
$red: #d81e5b;
$ruby: #aa1155;
$rose: #b24c63;
$dkred: #9e0031;
$dkrose: #720026;
$dkpurple: #631d76;
$lapis: #3d315b;
$navy: #01295f;
$dkteal: #19647e;
$teal: #268189;
$blue: #2274a5;
$ltblue: #5398be;
$periwinkle: #b3b3f1;
$purple: #7e52a0;









 
