@import './fonts/base-asap';
@import './fonts/base-asap-condensed';
@import './fonts/base-barlow';
@import './fonts/base-barlow-semi-condensed';
@import './fonts/base-barlow-condensed';
@import './fonts/base-aziga-regular';
@import './fonts/base-frank-ruhl-libre';

@mixin serif($font) {
  $serif: '#{$font}' !global;
  $serif-italic: '#{$font} Italic' !global;
  $serif-light: '#{$font} Light' !global;
  $serif-light-italic: '#{$font} Light Italic' !global;
  $serif-bold: '#{$font} Bold' !global;
  $serif-bold-italic: '#{$font} Bold Italic' !global;
}

@mixin sans-serif($font) {
  $sans-serif: '#{$font}' !global;
  $sans-serif-italic: '#{$font} Italic' !global;
  $sans-serif-light: '#{$font} Light' !global;
  $sans-serif-light-italic: '#{$font} Light Italic' !global;
  $sans-serif-bold: '#{$font} Bold' !global;
  $sans-serif-bold-italic: '#{$font} Bold Italic' !global;
}

@mixin sans-serif-narrow($font) {
  $sans-serif-narrow: '#{$font}' !global;
  $sans-serif-narrow-italic: '#{$font} Italic' !global;
  $sans-serif-narrow-light: '#{$font} Light' !global;
  $sans-serif-narrow-light-italic: '#{$font} Light Italic' !global;
  $sans-serif-narrow-bold: '#{$font} Bold' !global;
  $sans-serif-narrow-bold-italic: '#{$font} Bold Italic' !global;
}

@include serif('Frank Ruhl Libre');
@include sans-serif('Asap');
@include sans-serif-narrow('Asap Condensed');
$brand-font: 'Aziga' !global;

// Bootstrap variables

$font-family-sans-serif: $serif;
$font-family-monospace:  $sans-serif;
$font-family-base: $sans-serif-narrow;
