//
$mys: '/assets/mysteria/Mysteria-Light';
@font-face {
  font-family: 'Mysteria';
  src: font-url('#{$mys}.otf');
}

// Bold
$mys-bd: '/assets/mysteria/Mysteria-Bold';
@font-face {
  font-family: 'Mysteria Bold';
  src: font-url('#{$mys-bd}.otf');
}
