// Regular
$fs-reg: '/assets/fenomen-sans/FenomenSansBook';
@font-face {
  font-family: 'Fenomen Sans';
  src: font-url('#{$fs-reg}.otf');
}
// Regular Italic
$fs-it: '/assets/fenomen-sans/FenomenSansBookItalic';
@font-face {
  font-family: 'Fenomen Sans Italic';
  src: font-url('#{$fs-it}.otf');
}
// Light
$fs-lt: '/assets/fenomen-sans/FenomenSansLight';
@font-face {
  font-family: 'Fenomen Sans Light';
  src: font-url('#{$fs-lt}.otf');
}
// Light Italic
$fs-lt-it: '/assets/fenomen-sans/FenomenSansLightItalic';
@font-face {
  font-family: 'Fenomen Sans Light Italic';
  src: font-url('#{$fs-lt-it}.otf');
}
// Bold
$fs-bd: '/assets/fenomen-sans/FenomenSansSemiBold';
@font-face {
  font-family: 'Fenomen Sans Bold';
  src: font-url('#{$fs-bd}.otf');
}
// Bold Italic
$fs-bd-it: '/assets/fenomen-sans/FenomenSansSemiBoldItalic';
@font-face {
  font-family: 'Fenomen Sans Bold Italic';
  src: font-url('#{$fs-bd-it}.otf');
}
