// Regular
$frl: '../../../fonts/frank-ruhl-libre/FrankRuhlLibre';

@font-face {
  font-family: 'Frank Ruhl Libre';
  src: font-url('#{$frl}-Regular.ttf');
}
// Light
@font-face {
  font-family: 'Frank Ruhl Libre Light';
  src: font-url('#{$frl}-Light.ttf');
}
// Medium
@font-face {
  font-family: 'Frank Ruhl Libre Medium';
  src: font-url('#{$frl}-Medium.ttf');
}
// Bold
@font-face {
  font-family: 'Frank Ruhl Libre Bold';
  src: font-url('#{$frl}-Bold.ttf');
}
// Black
@font-face {
  font-family: 'Frank Ruhl Libre Black';
  src: font-url('#{$frl}-Black.ttf');
}
