@import 'config/MASTER';

form {

  label {
    color: $gray;
    font-family: $sans-serif-bold;
    margin-bottom: 0;
    padding-bottom: 0;
    text-transform: uppercase;
  }

////////////////////// FIELD TYPES //////////////////////
  input,
  select {
    border: 0;
    font-family: $mono;

    &::placeholder {
      font-family: $mono;
    }

    &:focus {
      background: $background;
      border: 0;
    }
  }

  select {
    background: $background;
    border-bottom: $single-border $gray-light;

    &:focus {
      border-bottom: $single-border $highlight-2;
    }
  }

  .col,
  .col-4,
  .col-8 {
    padding: 0;
  }
}

input[type=text],
input[type=password] {
  border-bottom: $single-border $gray-light;

  &:focus {
    border-bottom: $single-border $highlight-2;
  }
}

.form-control {
  border: 0;
  border-radius: 0;
}
