@import 'config/MASTER';

form {
  @extend %flex-v-flex-start;
  @extend %align-items-flex-start;
  max-width: 850px;
  padding: 10px 20px;
  width: 80vw;

  li {
    @extend %align-self-stretch;
    list-style: none;
    margin-top: 30px;

    &:not(:last-child) input[type=text] {
      width: 100%;
      margin-bottom: 0;
    }
  }

  label {
    @extend %body-bold;
    color: $gray;
    font-size: 1rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
  }

  input,
  select {
    margin: 0;
    padding: 5px 0 0;
    border: 0;

    &::placeholder {
      @extend %body-bold;
      color: $gray;
      font-size: 1.2rem;
    }

    &:focus {
      outline: none;
      background: $background;
      border: 0;
    }
  }

  input[type=text]{
    border-bottom: $single-border $gray-light;

    &:focus {
      border-bottom: $single-border $highlight-2;
    }
  }

  select {
    background: $background;
    border: 0;
    border-bottom: $single-border $gray-light;

    &:focus {
      border: 0;
      border-bottom: $single-border $highlight-2;
    }
  }

  .form-split-row-label,
  .form-split-row-input {
    padding: 0;

    > span {
      padding: 0;
    }

    span:first-child {
      padding-right: 5px;
    }

    label,
    input[type=text],
    select {
      position: relative;
      width: 100%;
    }
  }

  .form-split-row-input {


    span:last-child {
      position: absolute;
      bottom: 0;
    }
  }

  input[type=file] {
    display: inline-block;
  }

  textarea {
    border: $thin-border $text;
    margin-top: 3px;
    min-height: 100px;
    padding: 10px;
  }
}

.form-entry-nontext {
  border: 0;
  width: auto;
}

.submit-button {
  @extend %alt-bold;
  @extend %align-self-flex-end;
  background-color: $highlight-2;
  border: $single-border $text;
  box-shadow: 3px 2px 0 0 $block-backer;
  color: $block-solid;
  font-size: 1.375rem;
  margin-bottom: 0;
  margin-top: 30px;
  padding: 5px 7px;
  text-shadow: 1.25px .75px $text;
  text-transform: lowercase;

  &:hover {
    box-shadow: 5px 4px 0 0 $block-backer;
    margin-bottom: 2px;
    margin-right: 2px;
    margin-top: 28px;
  }

  &:active {
    box-shadow: 2px 1px 0 0 $block-backer;
    margin-bottom: -1px;
    margin-right: -1px;
    margin-top: 31px;
  }
}

.more-info {
  @extend %body-italic;
  font-size: 1rem;
}
