@import 'config/MASTER';

form {
  @extend %flex-v-flex-start;
  @extend %align-items-flex-start;
  margin: 0 auto 30px;
  padding: 10px 20px;

  li {
    @extend %align-self-stretch;
    list-style: none;
    margin-top: 30px;
  }

  label {
    color: $gray;
    font-family: $sans-serif-bold;
    font-size: 1rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
  }

////////////////////// FIELD TYPES //////////////////////
  input,
  select {
    border: 0;
    margin: 0;
    padding: 5px 0 0;

    &::placeholder {
      color: $gray-light;
      font-family: $mono;
      font-size: 1.2rem;
    }

    &:focus {
      background: $background;
      border: 0;
      outline: none;
    }
  }

  select {
    background: $background;
    border: 0;
    border-bottom: $single-border $gray-light;

    &:focus {
      border: 0;
      border-bottom: $single-border $highlight-2;
    }
  }

  textarea {
    border: $thin-border $text;
    margin-top: 3px;
    min-height: 100px;
    padding: 10px;
  }
}

input[type=text],
input[type=password] {
  border-bottom: $single-border $gray-light;

  &:focus {
    border-bottom: $single-border $highlight-2;
  }
}

input[type=file] {
  display: inline-block;
}

.submit-button {
  @extend %align-self-flex-end;
  background-color: $highlight-2;
  border: $single-border $text;
  box-shadow: 3px 2px 0 0 $block-backer;
  color: $block-solid;
  font-family: $sans-serif-narrow-bold;
  font-size: 2rem;
  padding: 5px 7px;
  text-shadow: 1.25px .75px $text;
  text-transform: lowercase;

  &:hover {
    box-shadow: 5px 4px 0 0 $block-backer;
    margin-bottom: 2px;
    margin-right: 2px;
    margin-top: -2px;
  }

  &:active {
    background-color: $highlight-2;
    box-shadow: 2px 1px 0 0 $block-backer;
    margin-bottom: -1px;
    margin-right: -1px;
    margin-top: 1px;
  }
}

%more-info {
  font-family: $sans-serif-italic;
  font-size: 1.25rem;
  letter-spacing: normal;
  margin: 10px 0;
  text-transform: none;
}

.more-info,
.more-info label,
.more-info a {
  @extend %more-info;
}
