@mixin track-colors($overlay-val, $highlight-val) {
  .track-info {

    > div {
      border-bottom: 3px solid $highlight-val;
      color: $highlight-val;
    }
  }

  .track-details {
    background: $overlay-val;
  }

  .track-overlay {
    background-color: transparentize($overlay-val, .7);
  }
}


@each $overlay in $overlays {
  $i: index($overlays, $overlay);

  @each $highlight in $highlights {
    $j: index($highlights, $highlight);
    $q: ($i - 1) * length($highlights);
    $x: $q + $j;

    .color-scheme-#{$x} {
      @include track-colors($overlay, $highlight);
    }
  }
}
