@mixin track-colors($overlay-val, $highlight-val) {
  .track-info {

    > span {
      background-color: $highlight-val;
      color: $overlay-val;
      // text-shadow: 1.5px 1px $overlay-val;
      //
      // .track-year {
      //   text-shadow: none;
      // }
    }
  }

  .track-title {
  }

  .track-details {

    a {
      color: $highlight-val;
    }
  }

  .track-overlay {
    background-color:  transparentize($overlay-val, .7);
  }

  .track-base .embedded-service a {
    background: $highlight-val;
    // color: $highlight-val;
  }
}


$color-groups: (
  $emerald: ($sky, $petal, $fuchsia),
  $cobalt: ($mint, $fuchsia, $petal),
  $fuchsia: ($gold),
  $coral: ($gold, $sky, $mint)
);

$i: 1;

@each $base, $list in $color-groups {
  @each $shade in $list {

    .color-scheme-#{$i} {
      @include track-colors($base, $shade);
    }

    $i: $i + 1;

    .color-scheme-#{$i} {
      @include track-colors($shade, $base);
    }

    $i: $i + 1;
  }
}
