@mixin track-color-sets($pattern, $base) {
  .track-info {
    > span {
      color: $text;
      border: 3px solid $text;
      background-image: url('/assets/backgrounds/patterns/dgl_#{$pattern}.png');
      box-shadow: 3px 3px 0 transparentize($base, 0.1),
                  6px 6px 0 $text;
    }
  }
}
$color-list: ('fuchsia', 'pink', 'red', 'yellow', 'green', 'aqua', 'blue', 'lavender', 'orchid', 'lapis');

$i: 1;

@each $base in $color-scheme {
  @each $pattern in $color-scheme {
    @if $pattern != $base {
      .color-scheme-#{$i} {
        @include track-color-sets($pattern, $base);
      }
      $i: $i + 1;
    }
  }
}
