.embedded-service,
.track-details {
  a {
    @include mono-bold-caps-border(.75rem, $background, $highlight-4);
  }
}

.track-details {
  background-color: $text;
  color: $background;
  clip-path: polygon(0 0, 90% 0%, 100% 100%, 0% 100%);
  font-size: .8rem;
  letter-spacing: -.04rem;
  margin: 25px 0 0;
  padding: 5px 20px 8px 15px;
}

.track-base {
  align-items: baseline;
  flex-flow: row wrap;
  justify-content: space-between;
  color: $background;
  margin: 0;
  width: 100%;

  > div {
    margin-top: 10px;
  }
}

.embedded-service {
  font-size: .7rem;
  min-width: 150px;
  padding: 0;
  margin-right: 15px;

  .embedded-type {
    font-size: .8rem;
    color: $highlight-3;
    text-transform: uppercase;
  }

  img {
    height: 35px;
    margin: 10px 7px 10px 0;
  }
}
