.track-info {
  word-wrap: break-word;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;

  > div {
    background: $background;
  }
}

.track-title {
  font-family: $sans-serif-bold-italic;
  font-size: 1.25rem;
  text-transform: uppercase;
  // padding: 2px 7px 2px;
}

.track-artist {
  font-family: $sans-serif-narrow;
  font-size: 1.5rem;
  // line-height: 1.75rem;
  padding-bottom: 5px;
  margin-top: 15px;
  text-transform: lowercase;
}

.track-album-info {
  margin-top: 10px;
}

.track-album {
  font-family: $sans-serif-bold;
}

.track-year {
  font-family: $sans-serif-bold-italic;
  font-size: .875rem;
  // margin-bottom: 4px;
  // padding: 4px 4px 0;
}
