.track-info {
  word-wrap: break-word;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;

  > div {
    background: $background;
  }
}

.track-title {
  font-family: $sans-serif-bold;
  font-size: 1.35rem;
  text-transform: uppercase;
  padding: 2px 7px 2px;
}

.track-artist {
  font-family: $sans-serif-narrow;
  font-size: 1.875rem;
  line-height: 1.875rem;
  padding: 5px 7px 0;
  margin-top: 15px;
  text-transform: lowercase;
}

.track-album-info {
  margin-top: 10px;
  padding: 5px 7px 0;
}

.track-album {
  font-family: $sans-serif-bold;
}

.track-year {
  // background-color: $text;
  color: $background;
  font-size: .875rem;
  margin-bottom: 4px;
  padding: 4px 4px 0;
}
