.track-info {

  > div {
    border-bottom: 3px solid $highlight-1;
    padding: 5px 0 2px;
  }
}

.track-title {
  font-family: $sans-serif-bold;
  text-transform: uppercase;
  font-size: 2.25rem;
}

.track-artist {
  font-family: $sans-serif-narrow;
  font-size: 3rem;
  text-transform: lowercase;
}

.track-details,
.track-info {

  span {
    display: inline-block;

    &:first-child {
      padding-right: 5px;
    }
  }
}
