.track-likes {
  display: table-row;
  float: right;
}

.track-like-button span,
.track-like-count {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.track-like-button {
  font-size: 20px;
  height: 35px;
  width: 35px;

  span {
    width: 33px;
  }
}

.track-like-count {
  font-size: 1.625rem;
  padding-left: 7px;
}
