// Brother 1816 Regular
@font-face {
  font-family: 'Brother 1816 Regular';
  src: url('Brother-1816-Regular.ttf'),
  url('Brother-1816-Regular.woff'),
  url('Brother-1816-Regular.woff2');
}
// Brother 1816 Regular
@font-face {
  font-family: 'Brother 1816 Regular Italic';
  src: url('Brother-1816-Regular-Italic.ttf'),
  url('Brother-1816-Regular-Italic.woff'),
  url('Brother-1816-Regular-Italic.woff2');
}
// Brother 1816 Medium
@font-face {
  font-family: 'Brother 1816 Medium';
  src: url('Brother-1816-Medium.ttf'),
  url('Brother-1816-Medium.woff'),
  url('Brother-1816-Medium.woff2');
}
// Brother 1816 Medium Italic
@font-face {
  font-family: 'Brother 1816 Medium Italic';
  src: url('Brother-1816-Medium-Italic.ttf'),
  url('Brother-1816-Medium-Italic.woff'),
  url('Brother-1816-Medium.woff2');
}
