// Avenir Light
@font-face {
  font-family: 'Avenir Light';
  src: url('avenir-light.ttf'),
  url('avenir-light.woff');
}
// Avenir Book
@font-face {
  font-family: 'Avenir Book';
  src: url('avenir-book.ttf'),
  url('avenir-book.woff');
}
// Avenir Book Oblique
@font-face {
  font-family: 'Avenir Book Oblique';
  src: url('avenir-book-oblique.ttf'),
  url('avenir-book-oblique.woff');
}
// Avenir Medium
@font-face {
  font-family: 'Avenir Medium';
  src: url('avenir-medium.ttf'),
  url('avenir-medium.woff');
}
// Avenir Medium Oblique
@font-face {
  font-family: 'Avenir Medium Oblique';
  src: url('avenir-medium-oblique.ttf'),
  url('avenir-medium-oblique.woff');
}
// Avenir Heavy
@font-face {
  font-family: 'Avenir Heavy';
  src: url('avenir-heavy.ttf'),
  url('avenir-heavy.woff');
}
