<%= f.fields_for :embedded do |emb| %>
  <li class="form-entry">
    <%= emb.label :url_src %>
    <%= emb.text_field :url_src %>
  </li>

  <%= emb.submit "Check link", class: "submit-button" %>
<% end %>
