<% provide(:title, 'member directory') %>
<section class="content-container">
  <div class="page-header">members</div>
  <%= will_paginate %>
  <ul class="users directory">
    <%= render @users %>
  </ul>
  <%= will_paginate %>
</section>
