// Regular
$fsc-reg: '/assets/fenomen-sans/FenomenSansXCNLight';
@font-face {
  font-family: 'Fenomen Sans Condensed';
  src: font-url('#{$fsc-reg}.otf');
}
// Regular Italic
$fsc-it: '/assets/fenomen-sans/FenomenSansXCNLightItalic';
@font-face {
  font-family: 'Fenomen Sans Condensed Italic';
  src: font-url('#{$fsc-it}.otf');
}
// Light
$fsc-lt: '/assets/fenomen-sans/FenomenSansXCNBook';
@font-face {
  font-family: 'Fenomen Sans Condensed Light';
  src: font-url('#{$fsc-lt}.otf');
}
// Light Italic
$fsc-lt-it: '/assets/fenomen-sans/FenomenSansXCNBookItalic';
@font-face {
  font-family: 'Fenomen Sans Condensed Light Italic';
  src: font-url('#{$fsc-lt-it}.otf');
}
// Bold
$fsc-bd: '/assets/fenomen-sans/FenomenSansXCNSemiBold';
@font-face {
  font-family: 'Fenomen Sans Condensed Bold';
  src: font-url('#{$fsc-bd}.otf');
}
// Bold Italic
$fsc-bd-it: '/assets/fenomen-sans/FenomenSansXCNSemiBoldItalic';
@font-face {
  font-family: 'Fenomen Sans Condensed Bold Italic';
  src: font-url('#{$fsc-bd-it}.otf');
}
