// Regular
$ko-reg: 'knockout/knockout-49-lightweight';
@font-face {
  font-family: 'Knockout';
  src: url('#{$ko-reg}.ttf'),
  url('#{$ko-reg}.woff');
}
// Light
$ko-lt: 'knockout/knockout-29-junior-lightweight';
@font-face {
  font-family: 'Knockout Light';
  src: url('#{$ko-lt}.ttf'),
  url('#{$ko-lt}.woff');
}
