// Heroic Condensed Book
$heroic-cond-book: 'heroic-condensed/heroic-condensed-book';
@font-face {
  font-family: 'Heroic Condensed Book';
  src: font-url('#{$heroic-cond-book}.ttf'),
  font-url('#{$heroic-cond-book}.woff'),
  font-url('#{$heroic-cond-book}.woff2');
}
// Heroic Condensed Regular
$heroic-cond-regular: 'heroic-condensed/heroic-condensed-regular';
@font-face {
  font-family: 'Heroic Condensed Regular';
  src: font-url('#{$heroic-cond-regular}.ttf'),
  font-url('#{$heroic-cond-regular}.woff'),
  font-url('#{$heroic-cond-regular}.woff2');
}
// Heroic Condensed Medium
$heroic-cond-medium: 'heroic-condensed/heroic-condensed-medium';
@font-face {
  font-family: 'Heroic Condensed Medium';
  src: font-url('#{$heroic-cond-medium}.ttf'),
  font-url('#{$heroic-cond-medium}.woff'),
  font-url('#{$heroic-cond-medium}.woff2');
}
