// Regular
$av-reg: '/assets/avenir/avenir-book';
@font-face {
  font-family: 'Avenir';
  src: font-url('#{$av-reg}.ttf'),
  url('#{$av-reg}.woff');
}
// Regular Italic
$av-reg-it: '/assets/avenir/avenir-book-oblique';
@font-face {
  font-family: 'Avenir Italic';
  src: font-url('#{$av-reg-it}.ttf'),
  url('#{$av-reg-it}.woff');
}
// Light
$av-lt: '/assets/avenir/avenir-light';
@font-face {
  font-family: 'Avenir Light';
  src: font-url('#{$av-lt}.ttf'),
  url('#{$av-lt}.woff');
}
// Light Italic
$av-lt-it: '/assets/avenir/avenir-light';
@font-face {
  font-family: 'Avenir Light Italic';
  src: font-url('#{$av-lt-it}.ttf'),
  url('#{$av-lt-it}.woff');
}
// Bold
$av-bd: '/assets/avenir/avenir-medium';
@font-face {
  font-family: 'Avenir Bold';
  src: font-url('#{$av-bd}.ttf'),
  url('#{$av-bd}.woff');
}
// Bold Italic
$av-bd-it: '/assets/avenir/avenir-medium-oblique';
@font-face {
  font-family: 'Avenir Bold Italic';
  src: font-url('#{$av-bd-it}.ttf'),
  url('#{$av-bd-it}.woff');
}
