// Regular
$frut-reg: 'frutiger/FrutigerLTStd-Roman';
@font-face {
  font-family: 'Frutiger';
  src: url('#{$frut-reg}.otf');
}
// Regular Italic
$frut-reg-it: 'frutiger/FrutigerLTStd-Italic';
@font-face {
  font-family: 'Frutiger Italic';
  src: url('#{$frut-reg-it}.otf');
}
// Light
$frut-lt: 'frutiger/FrutigerLTStd-Light';
@font-face {
  font-family: 'Frutiger Light';
  src: url('#{$frut-lt}.otf');
}
// Light Italic
$frut-lt-it: 'frutiger/FrutigerLTStd-LightItalic';
@font-face {
  font-family: 'Frutiger Light Italic';
  src: url('#{$frut-lt-it}.otf');
}
// Bold
$frut-bd: 'frutiger/FrutigerLTStd-Bold';
@font-face {
  font-family: 'Frutiger Bold';
  src: url('#{$frut-bd}.otf');
}
// Bold Italic
$frut-bd-it: 'frutiger/FrutigerLTStd-BoldItalic';
@font-face {
  font-family: 'Frutiger Bold Italic';
  src: url('#{$frut-bd-it}.otf');
}
