// Regular
$bro-reg: 'brother-1816/Brother-1816-Regular';
@font-face {
  font-family: 'Brother 1816';
  src: font-url('#{$bro-reg}.ttf'),
  font-url('#{$bro-reg}.woff'),
  font-url('#{$bro-reg}.woff2');
}
// Regular Italic
$bro-reg-it: 'brother-1816/Brother-1816-Regular-Italic';
@font-face {
  font-family: 'Brother 1816 Italic';
  src: font-url('#{$bro-reg-it}.ttf'),
  font-url('#{$bro-reg-it}.woff'),
  font-url('#{$bro-reg-it}.woff2');
}
// Bold
$bro-bd: 'brother-1816/Brother-1816-Medium';
@font-face {
  font-family: 'Brother 1816 Bold';
  src: font-url('#{$bro-bd}.ttf'),
  font-url('#{$bro-bd}.woff'),
  font-url('#{$bro-bd}.woff2');
}
// Bold Italic
$bro-bd-it: 'brother-1816/Brother-1816-Medium-Italic';
@font-face {
  font-family: 'Brother 1816 Bold Italic';
  src: font-url('#{$bro-bd-it}.ttf'),
  font-url('#{$bro-bd-it}.woff'),
  font-url('#{$bro-bd-it}.woff2');
}
