// Regular
$ax-reg:'/assets/axiforma/Kastelov - Axiforma Book';
@font-face {
  font-family: 'Axiforma';
  src: font-url('#{$ax-reg}.otf');
}
// Regular Italic
$ax-reg-it:'/assets/axiforma/Kastelov - Axiforma Book Italic';
@font-face {
  font-family: 'Axiforma Italic';
  src: font-url('#{$ax-reg-it}.otf');
}
// Light
$ax-lt:'/assets/axiforma/Kastelov - Axiforma Light';
@font-face {
  font-family: 'Axiforma Light';
  src: font-url('#{$ax-lt}.otf');
}
// Light Italic
$ax-lt-it:'/assets/axiforma/Kastelov - Axiforma Light Italic';
@font-face {
  font-family: 'Axiforma Light Italic';
  src: font-url('#{$ax-lt-it}.otf');
}
// Bold
$ax-bd:'/assets/axiforma/Kastelov - Axiforma Medium';
@font-face {
  font-family: 'Axiforma Bold';
  src: font-url('#{$ax-bd}.otf');
}
// Bold Italic
$ax-bd-it:'/assets/axiforma/Kastelov - Axiforma Medium Oblique';
@font-face {
  font-family: 'Axiforma Bold Italic';
  src: font-url('#{$ax-bd-it}.otf');
}
