// Brother 1816 Regular
$brother-regular: 'brother-1816/Brother-1816-Regular';
@font-face {
  font-family: 'Brother 1816 Regular';
  src: font-url('#{$brother-regular}.ttf'),
  font-url('#{$brother-regular}.woff'),
  font-url('#{$brother-regular}.woff2');
}
// Brother 1816 Regular
$brother-regular-italic: 'brother-1816/Brother-1816-Regular-Italic';
@font-face {
  font-family: 'Brother 1816 Regular Italic';
  src: font-url('#{$brother-regular-italic}.ttf'),
  font-url('#{$brother-regular-italic}.woff'),
  font-url('#{$brother-regular-italic}.woff2');
}
// Brother 1816 Medium
$brother-medium: 'brother-1816/Brother-1816-Medium';
@font-face {
  font-family: 'Brother 1816 Medium';
  src: font-url('#{$brother-medium}.ttf'),
  font-url('#{$brother-medium}.woff'),
  font-url('#{$brother-medium}.woff2');
}
// Brother 1816 Medium Italic
$brother-medium-italic: 'brother-1816/Brother-1816-Medium-Italic';
@font-face {
  font-family: 'Brother 1816 Medium Italic';
  src: font-url('#{$brother-medium-italic}.ttf'),
  font-url('#{$brother-medium-italic}.woff'),
  font-url('#{$brother-medium-italic}.woff2');
}
