// Bold
$kelso-bd: 'kelso/Kelso W00 Bold';
@font-face {
  font-family: 'Kelso Bold';
  src: url('#{$kelso-bd}.ttf'),
  url('#{$kelso-bd}.otf');
}

// Bold Italic
$kelso-bd-it: 'kelso/Kelso W00 Bold Oblique';
@font-face {
  font-family: 'Kelso Bold Italic';
  src: url('#{$kelso-bd-it}.ttf'),
  url('#{$kelso-bd-it}.otf');
}
