// Regular
$dnc-reg: '/assets/din-next/DINNextLTPro-Condensed';
@font-face {
  font-family: 'DIN Next Condensed';
  src: font-url('#{$dnc-reg}.otf');
}
// Regular Italic
$dnc-it: '/assets/din-next/DINNextLTPro-Condensed';
@font-face {
  font-family: 'DIN Next Condensed Italic';
  src: font-url('#{$dnc-it}.otf');
}
// Light
$dnc-lt: '/assets/din-next/DINNextLTPro-LightCondensed';
@font-face {
  font-family: 'DIN Next Condensed Light';
  src: font-url('#{$dnc-lt}.otf');
}
// Light Italic
$dnc-lt-it: '/assets/din-next/DINNextLTPro-LightCondensed';
@font-face {
  font-family: 'DIN Next Condensed Light Italic';
  src: font-url('#{$dnc-lt-it}.otf');
}
// Bold
$dnc-bd: '/assets/din-next/DINNextLTPro-MediumCond';
@font-face {
  font-family: 'DIN Next Condensed Bold';
  src: font-url('#{$dnc-bd}.otf');
}
// Bold Italic
$dnc-bd-it: '/assets/din-next/DINNextLTPro-MediumCond';
@font-face {
  font-family: 'DIN Next Condensed Bold Italic';
  src: font-url('#{$dnc-bd-it}.otf');
}
