// Decima Mono
$dec-reg: '/assets/decima/DecimaMono';
@font-face {
  font-family: 'Decima Mono';
  src: font-url('#{$dec-reg}.otf');
}
// Decima Mono Italic
$dec-it: '/assets/decima/DecimaMono-Italic';
@font-face {
  font-family: 'Decima Mono Italic';
  src: font-url('#{$dec-it}.otf');
}
// Light
$dec-lt: '/assets/decima/DecimaMono-Light';
@font-face {
  font-family: 'Decima Mono Light';
  src: font-url('#{$dec-lt}.otf');
}
// Light Italic
$dec-lt-it: '/assets/decima/DecimaMono-LightItalic';
@font-face {
  font-family: 'Decima Mono Light Italic';
  src: font-url('#{$dec-lt-it}.otf');
}
// Decima Mono Bold
$dec-bd: '/assets/decima/DecimaMono-Bold';
@font-face {
  font-family: 'Decima Mono Bold';
  src: font-url('#{$dec-bd}.otf');
}
// Decima Mono Bold Oblique
$dec-bd-it: '/assets/decima/DecimaMono-BoldItalic';
@font-face {
  font-family: 'Decima Mono Bold Italic';
  src: font-url('#{$dec-bd-it}.otf');
}
