// Regular
$heroic-cond-reg: 'heroic-condensed/heroic-condensed-regular';
@font-face {
  font-family: 'Heroic Condensed';
  src: font-url('#{$heroic-cond-reg}.ttf'),
  font-url('#{$heroic-cond-reg}.woff'),
  font-url('#{$heroic-cond-reg}.woff2');
}
// Light
$heroic-cond-lt: 'heroic-condensed/heroic-condensed-book';
@font-face {
  font-family: 'Heroic Condensed Light';
  src: font-url('#{$heroic-cond-lt}.ttf'),
  font-url('#{$heroic-cond-lt}.woff'),
  font-url('#{$heroic-cond-lt}.woff2');
}
// Bold
$heroic-cond-bd: 'heroic-condensed/heroic-condensed-medium';
@font-face {
  font-family: 'Heroic Condensed Bold';
  src: font-url('#{$heroic-cond-bd}.ttf'),
  font-url('#{$heroic-cond-bd}.woff'),
  font-url('#{$heroic-cond-bd}.woff2');
}
