// Regular
$cer-reg: '/assets/cervo/Cervo-Light';
@font-face {
  font-family: 'Cervo';
  src: font-url('#{$cer-reg}.otf');
}
// Regular Italic
$cer-it: '/assets/cervo/Cervo-LightItalic';
@font-face {
  font-family: 'Cervo Italic';
  src: font-url('#{$cer-it}.otf');
}
// Light
$cer-lt: '/assets/cervo/Cervo-Thin';
@font-face {
  font-family: 'Cervo Light';
  src: font-url('#{$cer-lt}.otf');
}
// Light Italic
$cer-lt-it: '/assets/cervo/Cervo-ThinItalic';
@font-face {
  font-family: 'Cervo Light Italic';
  src: font-url('#{$cer-lt-it}.otf');
}
// Bold
$cer-bd: '/assets/cervo/Cervo-Medium';
@font-face {
  font-family: 'Cervo Bold';
  src: font-url('#{$cer-bd}.otf');
}
// Bold Italic
$cer-bd-it: '/assets/cervo/Cervo-MediumItalic';
@font-face {
  font-family: 'Cervo Bold Italic';
  src: font-url('#{$cer-bd-it}.otf');
}
