// Regular
$kes-reg: 'kessel-205/Kessel205-Book_11';
@font-face {
  font-family: 'Kessel';
  src: url('#{$kes-reg}.otf');
}
// Regular Italic
$kes-it: 'kessel-205/Kessel205-BookOblique_5';
@font-face {
  font-family: 'Kessel Italic';
  src: url('#{$kes-it}.otf');
}
// Light
$kes-lt: 'kessel-205/Kessel205-Light_12';
@font-face {
  font-family: 'Kessel Light';
  src: url('#{$kes-lt}.otf');
}
// Light Italic
$kes-lt-it: 'kessel-205/Kessel205-LightOblique_7';
@font-face {
  font-family: 'Kessel Light Italic';
  src: url('#{$kes-lt-it}.otf');
}
// Bold
$kes-bd: 'kessel-205/Kessel205-Bold_4';
@font-face {
  font-family: 'Kessel Bold';
  src: url('#{$kes-bd}.otf');
}
// Bold Italic
$kes-bd-it: 'kessel-205/Kessel205-BoldOblique_3';
@font-face {
  font-family: 'Kessel Bold Italic';
  src: url('#{$kes-bd-it}.otf');
}
