// Regular
$hal-reg: '/assets/halcyon/Halcyon-Regular';
@font-face {
  font-family: 'Halcyon';
  src: font-url('#{$hal-reg}.otf');
}
// Regular Italic
$hal-it: '/assets/halcyon/Halcyon-RegularItalic';
@font-face {
  font-family: 'Halcyon Italic';
  src: font-url('#{$hal-it}.otf');
}
// Light
$hal-lt: '/assets/halcyon/Halcyon-Light';
@font-face {
  font-family: 'Halcyon Light';
  src: font-url('#{$hal-lt}.otf');
}
// Light Italic
$hal-lt-it: '/assets/halcyon/Halcyon-LightItalic';
@font-face {
  font-family: 'Halcyon Light Italic';
  src: font-url('#{$hal-lt-it}.otf');
}
// Bold
$hal-bd: '/assets/halcyon/Halcyon-Bold';
@font-face {
  font-family: 'Halcyon Bold';
  src: font-url('#{$hal-bd}.otf');
}
// Bold Italic
$hal-bd-it: '/assets/halcyon/Halcyon-BoldItalic';
@font-face {
  font-family: 'Halcyon Bold Italic';
  src: font-url('#{$hal-bd-it}.otf');
}
