<nav class="charts-header-nav">
  <span class="nav-item active"><%= link_to "Top",   charts_top_path %></span>
  <span class="nav-item"><%= link_to "New",   charts_new_path %></span>
  <span class="nav-item"><%= link_to "Recommended", charts_recommended_path %></span>
</nav>
