//
$fab-reg: '/assets/fabrikat-mono/FabrikatMonoRegular';
@font-face {
  font-family: 'Fabrikat Mono';
  src: font-url('#{$fab-reg}.otf');
}
// Italic
$fab-it: '/assets/fabrikat-mono/FabrikatMonoItalic';
@font-face {
  font-family: 'Fabrikat Mono Italic';
  src: font-url('#{$fab-it}.otf');
}
// Light
$fab-lt: '/assets/fabrikat-mono/FabrikatMonoLight';
@font-face {
  font-family: 'Fabrikat Mono Light';
  src: font-url('#{$fab-lt}.otf');
}
// Light Italic
$fab-lt-it: '/assets/fabrikat-mono/FabrikatMonoLightItalic';
@font-face {
  font-family: 'Fabrikat Mono Light Italic';
  src: font-url('#{$fab-lt-it}.otf');
}
// Bold
$fab-bd: '/assets/fabrikat-mono/FabrikatMonoBold';
@font-face {
  font-family: 'Fabrikat Mono Bold';
  src: font-url('#{$fab-bd}.otf');
}
// Bold Oblique
$fab-bd-it: '/assets/fabrikat-mono/FabrikatMonoBoldItalic';
@font-face {
  font-family: 'Fabrikat Mono Bold Italic';
  src: font-url('#{$fab-bd-it}.otf');
}
