@import '../../../config/MASTER';

.track-info {
  align-items: flex-end;
  display: flex;
  flex-flow: column nowrap;
  word-wrap: break-word;

  > div {
    background: $background;
  }
}

.track-title {
  font-family: $sans-serif-bold-italic;
  font-size: 1.25rem;
  text-transform: uppercase;
}

.track-artist {
  font-family: $sans-serif-bold;
  font-size: 1.125rem;
  margin-top: 15px;
  padding-bottom: 5px;
}

.track-album-info {
  margin-top: 10px;
}

.track-album {
  font-family: $sans-serif-bold;
}

.track-year {
  font-family: $sans-serif-bold-italic;
  // font-size: .875rem;
  padding: 1px 3px;
}
