@import '../../../config/MASTER';
.track-play-button-container {
  padding-left: 0;
}

.track-play-button {
  font-size: 32px;
  // border: $single-border $background;
  background-color: $text;
  color: $white;
  height: 70px;
  margin-top: 20px;
  max-width: 70px;
  min-width: 70px;

  .fa {
    display: table-cell;
    position: inherit;
    top: 0;
    width: 60px;
  }
}

.track-background > .col-3 {
  padding: 0 0 0 15px;
}

.playing {
  background-color: $highlight-2;
}
