
.user-profile {
  // display: flex;
  // flex-flow: column wrap;

  .col-xs-12 {
    padding: 0;
  }
}

.profile-avatar {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.profile-name {
  font-family: $sans-serif-bold;
  font-size: 1.2rem;
  margin-top: 10px;
  text-transform: none;
}

.profile-stats {
  font-family: $sans-serif-narrow-light;
}

.profile-name,
.profile-stats {
  // padding: 0 10px 5px;
}

.profile-bio {
  background-color: $gray-200;
  padding: 10px;
}
