.btn,
.btn-primary,
.submit-button {
  border: $thin-border transparent;
  border-radius: 0;
  background-color: $background;
  color: $text;
  font-family: $sans-serif-narrow-bold-italic;
  font-size: 1.5rem;

  &:hover,
  &:active {
    border-radius: 0;
    background-color: $background;
    color: $text;
    text-shadow: 3px 2px 0 $blue, -3px -2px 0 $pink;
  }

  &:hover,
  &:active,
  &:visited,
  &:link {
    border: 0;
  }
}
