@import './fonts/base-fenomen-sans-cond';
@import './fonts/base-fenomen-sans';
@import './fonts/base-fabrikat-mono';
@import './fonts/base-mysteria';
@import './fonts/base-autorich-sans';

@mixin mono($font) {
  $mono: '#{$font}' !global;
  $mono-italic: '#{$font} Italic' !global;
  $mono-light: '#{$font} Light' !global;
  $mono-light-italic: '#{$font} Light Italic' !global;
  $mono-bold: '#{$font} Bold' !global;
  $mono-bold-italic: '#{$font} Bold Italic' !global;
}

@mixin sans-serif($font) {
  $sans-serif: '#{$font}' !global;
  $sans-serif-italic: '#{$font} Italic' !global;
  $sans-serif-light: '#{$font} Light' !global;
  $sans-serif-light-italic: '#{$font} Light Italic' !global;
  $sans-serif-bold: '#{$font} Bold' !global;
  $sans-serif-bold-italic: '#{$font} Bold Italic' !global;
}

@mixin sans-serif-narrow($font) {
  $sans-serif-narrow: '#{$font}' !global;
  $sans-serif-narrow-italic: '#{$font} Italic' !global;
  $sans-serif-narrow-light: '#{$font} Light' !global;
  $sans-serif-narrow-light-italic: '#{$font} Light Italic' !global;
  $sans-serif-narrow-bold: '#{$font} Bold' !global;
  $sans-serif-narrow-bold-italic: '#{$font} Bold Italic' !global;
}

@include sans-serif('Fenomen Sans');
@include sans-serif-narrow('Fenomen Sans Condensed');
@include mono('Fabrikat Mono');
