@mixin bold-caps-border($font-size, $color, $hover-color) {
  font-size: $font-size;
  color: $color;
  text-transform: uppercase;

  &:hover,
  &:active,
  &.active {
    border-color: $hover-color;
  }

  a {
    color: $color;
  }
}

@mixin narrow-bold-caps-border($font-size, $color, $hover-color) {
  @include bold-caps-border($font-size, $color, $hover-color);
  font-family: $sans-serif-narrow-bold;
  border: $single-border $color;
  padding: .125rem .25rem;
}

@mixin mono-bold-caps-border($font-size, $color, $hover-color) {
  @include bold-caps-border($font-size, $color, $hover-color);
  font-family: $mono-bold;
  border: $thin-border $color;
  padding: 4px 4px 2px;
}
