@import './base';

.embedded-form,
.upload-form {
  max-width: 350px;
}

.track-submission-form {
  max-width: 500px;
}

.stretch-select-stack {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding-left: 5px !important;

  select {
    padding: .5rem .75rem;
  }
}
