.track {
  margin: 20px 0;
  border: 2px solid black;
  padding: 10px
}

%track-circle {
  border-radius:50%;
	display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.track-background {
  background-size: cover;
}

.track-overlay {
  background-color: transparentize($white, .3);
  overflow: auto;
  padding: 20px 0;
}

.track-info {
  @extend %body-bold;
  text-transform: uppercase;
}

.track-info > div {
  border-bottom: 3px solid $highlight-1;
  padding: 5px 0 2px;
}

.track-title {
  @extend %body-extra-bold;
  font-size: 2.25rem;
}

.track-artist {
  @extend %alt-bold;
  font-size: 3rem;
  text-transform: lowercase;
}

.track-details {
  color: $white;
  background-color: $text;
  font-size: 1.2rem;
  padding: 7px 20px 7px 10px;
  margin: 25px 0 0;
  -webkit-clip-path: polygon(0 0, 90% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 90% 0%, 100% 100%, 0% 100%);

  a {
    color: $white;
  }
}

.track-base {
  margin-top: 10px;
}

.embedded-service {
  float: left;
  vertical-align: middle;
  height: 45px;

  img {
    width: 40px;
    height: 40px;
    margin-right: 7px;
  }
}

.track-play-button-container {
  padding-left: 0;
}

.track-play-button,
.track-like-button {
  @extend %track-circle;
  color: $white;
  background-color: $text;
}

.track-play-button {
  font-size: 36px;
  margin-top: 20px;
	height: 64px;
  width: 64px;

  .glyphicon {
    position: inherit;
    top: 0;
    display: table-cell;
    width: 64px;
  }
}

.track-likes {
  display: table-row;
  float: right;
}

.track-like-button span,
.track-like-count {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.track-like-button {
  font-size: 24px;
  height: 45px;
  width: 45px;

  span {
    width: 43px;
  }
}

.track-like-count {
  padding-left: 7px;
}

.postedBy {
  @extend %body-bold-italic;
  text-align: right;
  font-size: 1rem;

  a {
    @extend %body-bold;
    font-size: 1rem;
    text-transform: uppercase;
    font-style: normal;
  }
}
