.track {
  margin: 20px 10px;
  border: 2px solid black;
  padding: 10px
}

.track-background {
  background-size: cover;
}

.track-overlay {
  background-color: transparentize($white, .3);
  overflow: auto;
}

.track > div {
  padding-left: 0;
  padding-right: 0;
}

%track-circle {
  border-radius:50%;
	display: table;

  span {
  	display: table-cell;
  	vertical-align: middle;
  	text-align: center;
  }

}

.track-info {
  @extend %body-bold;
  text-transform: uppercase;
  margin-top: 20px;
}

.track-info > div {
  border-bottom: 3px solid $highlight-1;
  padding: 5px 0 2px;
}

.track-title {
  @extend %body-extra-bold;
  font-size: 2.25rem;
}

.track-artist {
  @extend %alt-bold;
  font-size: 3rem;
  text-transform: lowercase;
}

.track-details {
  color: $white;
  background-color: $text;
  font-size: 1.2rem;
  padding: 7px 7px 7px 10px;
  margin: 25px 0 10px;
  -webkit-clip-path: polygon(0 0, 90% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 90% 0%, 100% 100%, 0% 100%);

  a {
    color: $white;
  }
}

.track-base {
  display: inline-block;
  margin-top: 10px;
  vertical-align: baseline;
}

.track-base > div {
  display: inline-block;
  margin-right: 5px;
}

.track-likes {
  vertical-align: middle;
}

.track-like-button {
  font-size: 24px;
}

.track-play-button {
  @extend %track-circle;
  color: $white;
  background-color: $text;
  font-size: 36px;
  margin-top: 20px;
	height: 64px;
  width: 64px;
}

.postedBy {
  @extend %body-bold-italic;
  float: right;
  text-align: right;
  font-size: 1rem;

  a {
    @extend %body-bold;
    font-size: 1rem;
    text-transform: uppercase;
    font-style: normal;
  }
}
