@import 'modules/tracks/partials/color-triads';
@import 'modules/tracks/partials/details';
@import 'modules/tracks/partials/metadata';
@import 'modules/tracks/partials/playback';
@import 'modules/tracks/partials/social';

// index
.tracks-container {
  &.row {
    margin-left: -15px;
    margin-right: -15px;
  }
}

.track-container > div,
.track {
  display: flex;
  flex-flow: column nowrap;
  // justify-content: stretch;
  // align-items: stretch;
}

.track-container > div {
  // @extend .col-xs-12;
  // @extend .col-md-6;
  // @extend .col-lg-4;
  // height: 100%;
}

// individual track
.track {
  height: 100%;
  background-color: $text;
  border: $single-border $text;
  margin: 10px 0;
  max-width: 830px;
  min-width: 290px;
  padding: 10px;
  // z-index: -5;
}

.track-background {
  background-size: cover;
  padding: 0;
}

.track-overlay {
  overflow: auto;
  padding: 20px 0;
  justify-content: space-between;
}

// COMMON
%track-circle {
  border-radius: 50%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.track-play-button,
.track-like-button,
.track-comment-button {
  @extend %track-circle;

  &.active-button {
    background-color: $highlight-2;
  }
}

.track-details,
.track-info {

  span {
    display: inline-block;

    &:first-child {
      padding-right: 5px;
    }
  }
}
