<nav class="nav navbar-default">
  <ul class="nav nav-tabs page-nav">
    <li class="track_kind" id="select_url" val="url"><%= link_to 'Submit link', submit_embed_path, class: current_class?(submit_embed_path) %></li>
    <li class="track_kind" id="select_upload" val="upload"><%= link_to 'Upload file', submit_upload_path, class: current_class?(submit_upload_path) %></li>
  </ul>
</nav>
