<ul class="nav page-nav">
  <li class="<%= current_class?(submit_embed_path) %> nav-item">
    <%= link_to 'Submit link', submit_embed_path, class: 'nav-link' %>
  </li>
  <li class="<%= current_class?(submit_upload_path) %> nav-item">
    <%= link_to 'Upload file', submit_upload_path, class: 'nav-link' %>
  </li>
</ul>
