.ps-app-title {
  font-family: 'Michroma', sans-serif;
  font-size: 3.5rem;
  font-weight: bold;
  text-transform: lowercase;

  a {
    color: $azul;
  }
}

.app-header .app-nav {
  li {
    font-size: 2.5rem;
  }
}
