.ps-app-title {
  // box-shadow: 8px 10px 0 -2px $highlight-1;
  font-family: 'Kelso Bold Italic', sans-serif;
  font-size: 2.75rem;
  margin-right: 0;
  text-transform: lowercase;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  flex: 1 1 auto;

  a {
    background-color: $text;
    color: $background;
    font-weight: bolder;
    padding: 5px 15px 15px;
    text-shadow: 1px 2px $highlight-2,
                 2px 4px $highlight-3;
  }
}

.app-header .app-menu {
    flex: 3 0 auto;
}
