@import 'config/MASTER';

.container-fluid {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

.content-container {
  flex: 2 0 auto;
  border-bottom: $single-border $highlight-2;
  margin-bottom: 15px;
}
