header .navbar {
  align-items: flex-end;
  justify-content: space-between;
  margin-left: -15px;
  margin-right: -15px;
  padding: 0 15px;

  .navbar-brand,
  .nav-item,
  .dropdown-divider,
  .navbar-toggler {
    margin-left: 15px;
    margin-right: 15px;
  }

  .navbar-toggler {
    border-radius: 0;
    padding: 0;
    position: fixed;
    right: 0;
    top: 15px;

    i {
      color: $gray-400;
    }
  }

  .nav-item {

    i {
      margin-right: 10px;

      &:last-child {
        font-size: .8rem;
        margin-left: 5px;
        margin-right: 0;
      }
    }

// For expanding menus
    section {
      padding: 15px 0;

      div {
        padding: 2px;
      }

      .dropdown-divider {
        margin: 2px 0 0;
      }
    }
  }
}

.app-menu {
  justify-content: flex-end;

  .navbar-nav {
    align-items: flex-end;
  }

  %links-are-rows {
    align-items: baseline;
    display: flex;
    flex-flow: row nowrap;
    font-family: $sans-serif-bold;
    font-size: 1.2rem;
    line-height: 2rem;
    justify-content: flex-end;
  }

  .nav-item {
    @extend %links-are-rows;
    // @extend %diagonal-link;
    @extend %wavy-link;

    .nav-link {
      @extend %links-are-rows;
      font-size: 1.2rem;
      padding: 2px 2px 2px 5px;

      &.session-nav {
        font-family: $mono-bold;
        font-size: .8rem;
      }
    }
  }

  .collapse.show {
    div:hover {
      background-color: $highlight-3;
    }
  }
}
