@import 'config/MASTER';

.container-fluid {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

.content-container {
  flex: 2 0 auto;
  border-top: $single-border $text;
  border-bottom: $single-border $text;
  margin-bottom: 15px;
  margin-top: 15px;
}
