.app-nav {

  a {
    border-bottom: $single-border $block-solid;
    font-family: $sans-serif-narrow;
    text-transform: uppercase;

    &:hover {
      border-bottom: $single-border $highlight-1;
    }
  }

  .active > a {
    border-bottom: $single-border $highlight-2;
  }


  .dropdown-menu > li > a,
  .app-nav-subitem {
    font-family: $mono-bold;
    font-size: 1.25rem;
  }
}

.navbar-nav {
  margin: 7px 0;
}
