.app-header {
  align-items: center;
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: space-between;
  margin: 20px -10px -10px;
  padding: 0;

  > div {
    margin: 10px 10px 0;
  }

  .nav-item {
    width: 33.33333%;
  }
}

.app-menu {
  z-index: 500;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  padding: 5px;

  .nav-item {
    transform: skewX(-25deg);
    background-color: $text;
    border-left: 10px double $text;
    border-right: 10px double $text;
    padding: 0;

    + .nav-item {
      margin-left: 5px;
    }

    &:active,
    &:hover {
      border-left: 10px double $highlight-2;
    }

    &.active {
      border-left: 10px double $highlight-2;
    }
  }

  .nav-link {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: baseline;
    color: $background;
    font-family: $sans-serif-bold-italic;
    font-size: 0.95rem;
    text-transform: uppercase;
    transform: skewX(25deg);
  }

  .dropdown-menu li {
    a {
      background-color: transparent;
    }

    + li {
      margin-left: 5px;
    }

    &:hover {
      background-color: $highlight-3;
    }
  }

  .dropdown-item {
    transform: skewX(25deg);
  }
}
