body {
  font-family: $mono;
}

ol,
ul {
  padding: 0;
}

a {
  color: $gray-darker;

  &:hover {
    text-decoration: none;
  }
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.well {
  margin: 0;
  min-height: 0;
  padding: 0;
}
