@import 'config/MASTER';

.error-list {
  margin-bottom: 30px;

  li {
    @extend %body-italic;
    border: 0;
    color: $text;
    font-size: 1rem;
    list-style: square inside;
    margin-top: 5px;
  }
}

.alert {
  @extend %flex-v-center;
  @extend %body-bold-italic;
  background: $block-solid;
  border: 4px solid $text;
  color: $text;
  margin: 30px auto 10px;
  max-width: 900vw;
  min-height: 100px;
  width: 80vw;
}

.debug_dump {
  background-color: transparentize($block-solid, .3);
  margin: 20px auto;
  padding: 20px;
}

.field_with_errors {

  label {
    @extend %body-bold-italic;
  }
}
