@import 'config/MASTER';

.error-list {
  margin-bottom: 30px;

  li {
    border: 0;
    color: $text;
    font-size: 1rem;
    list-style: square inside;
    margin-top: 5px;
  }
}

.alert {
  background: $block-solid;
  border: 0;
  border-top: 1px solid $gray-dark;
  border-bottom: 1px solid $gray-dark;
  border-radius: 0;
  color: $text;
  margin: 20px auto 10px;
  padding: 20px 25px;
}

.alert-warning {
  background: transparentize($highlight-2, .3);
}

.debug_dump {
  background-color: transparentize($block-solid, .3);
  margin: 20px auto;
  padding: 20px;
}

.field_with_errors {

  label {
    @extend %body-bold-italic;
  }
}
