@import 'config/MASTER';

.app-header {
  @extend %container-width;
  @extend %flex-h-space-between;
  @extend %align-items-flex-end;
  @extend %kona-shadow;

  background: $coral;
  color: $white;

  margin-top: 20px;
  padding: 20px;

  a {
    &:active,
    &:visited,
    &:hover,
    &:link {
      color: $white;
    }
  }
}

.app-header-title {
  font-family: 'Michroma', sans-serif;
  font-size: 3rem;
  margin-bottom: -10px;
  padding: 20px 10px 0 0;
}

.app-header-nav {
  @extend %body-italic;
  padding-top: 20px;
}

.nav-login {
  font-size: .875rem;
}
