@import 'config/MASTER';

.app-header {
  @extend %container-width;
  @extend %flex-h-space-around-wrap;
  @include box-shadow(-10px -10px 0 0 $block-backer);
  background: $block-solid;
  padding: 20px;
  margin-top: 20px;
}

.app-header-title {
  // @include box-shadow(5px 5px 0 0 $block-backer);
  background-color: $highlight-1;
  font-family: 'Michroma', sans-serif;
  font-size: 1.75rem;
  margin: 10px 0 -35px;
  padding: 10px;
  text-transform: uppercase;

  a {
    color: $block-solid;
  }
}
