@import 'config/MASTER';

nav {
  @extend %flex-h-center;
  @extend %flex-wrap-nowrap;
}

.nav-item:not(:first-child) {
  margin-left: 20px;
}

.nav-divider {
  color: $cornflower;
  font-size: 1.3rem;
  font-weight: 700;
}
