@import 'config/MASTER';

nav {
  @extend %flex-h-center;
  @extend %flex-wrap-nowrap;
}

.app-nav {
  font-size: 1.1rem;

  .nav-item {
    @extend %alt-bold-upper;
    display: inline;
    list-style: none;
    padding: 5px;

    &:not(:first-child) {
      margin-left: 5px;
    }

    a:hover {
      border-bottom: $single-border $highlight-1;
    }
  }

  .nav-subitem {
    @extend %body-italic;
    display: inline;
    margin-left: 2px;
    padding: 5px 2px;

    &:not(:first-child) {
      margin-left: 0;
    }

    a {
      font-size: 1rem;
      text-transform: none;
    }

  }

  a {
    &:active,
    &:visited,
    &:hover,
    &:link {
      color: $text;
    }
  }
}

.nav-divider {
  @extend %body-bold-italic;
  color: $background;
  font-size: 1.5rem;
}
