@import 'config/MASTER';

.page-nav {
  // margin: 20px 0 30px;
  // width: 100%;

  .nav-item {
    margin: 5px;

    button {
      font-size: .85rem;
    }

    .nav-link {
      border: $single-border $gray-400;
      background-color: $white;
      color: $text;
      font-family: $sans-serif-narrow-bold;
      font-size: 1.1rem;
      letter-spacing: .04rem;
      padding: 3px 10px 2px;
      text-transform: uppercase;
    }

    &.active .nav-link {
      border: $single-border $highlight-2;
    }

    &:hover .nav-link {
      border: $single-border $highlight-3;
    }
  }
}
