@import 'config/MASTER';

.page-nav {
  margin-top: 10px;
  align-items: flex-start;
  justify-content: space-between;

  button.navbar-toggler {
    font-size: 1.3rem;
    font-family: $sans-serif-narrow-bold;
    text-transform: uppercase;

    i {
      margin-left: 5px;
      font-size: .8rem;
    }
  }

  .nav-item {
    margin: 5px;

    .nav-link {
      @include narrow-bold-caps-border(1.1rem, $text, $highlight-3);
      background-color: $white;
      border: $single-border $gray-400;
    }
  }
}
