@import 'config/MASTER';

.page-header,
.page-subheader {
  font-size: 2rem;
}

.page-header {
  border-bottom: $single-border $highlight-2;
  font-family: $sans-serif-italic;
  margin: 20px 0 10px;
}

.page-subheader {
  font-family: $sans-serif-narrow;
}
