<script src="soundcloud.js"></script>

<div class="row">
    <iframe width="370" height="80" scrolling="no" frameborder="no" allowtransparency="true" src="<%= @track.media_path %>" seamless></iframe>
</div>
