<script src="soundcloud.js"></script>

<div class="row">
  <audio controls>
    <source src="<%= track.media_path %>" type="audio/mpeg">
  </audio>
  <img src="<%= track.album_art(:medium) %>" />
</div>
