// Knockout 29 Junior Lightweight
@font-face {
  font-family: 'Knockout 29 Junior Lightweight';
  src: url('knockout-29-junior-lightweight.ttf'),
  url('knockout-29-junior-lightweight.woff');
}
// Knockout 49 Lightweight
@font-face {
  font-family: 'Knockout 49 Lightweight';
  src: url('knockout-49-lightweight.ttf'),
  url('knockout-49-lightweight.woff');
}
