@import 'config/MASTER';

.chart-entry {
  @extend %flex-h-space-between-wrap;
  @extend %align-items-flex-end;
  // @extend %soft-charcoal-shadow;
  // background-color: $white;
  padding: 20px 0 10px;

  &:not(:first-child) {
    border-top: $single-border $white;
  }
}

.song-header,
.song-details {
  margin: 5px 20px;
}

.song-header {
  text-align: left;
}

.song-title {
  font-size: 1.75rem;
}

.song-details {
  @extend %flex-h-space-between;
  @include flex(2, 0, 240px);
  font-size: 1.25rem;
}

.song-artist,
.song-album {
  @extend %flex-h-center;
  @include flex(2, 0, 120px);
  margin: 0 20px 0 0;
}

.chart-dash {
  @include flex(1, 1, 40px);
  max-width: 120px;
  border-top: $single-border $rose;
  height: 0;
  margin-right: 5px;
}
