@import 'config/MASTER';

.charts-header-nav {
  @extend %justify-content-flex-start;
  padding: 20px 20px 5px;

  a {
    &:active,
    &:visited,
    &:hover,
    &:link {
      @extend %alt-bold-upper;
      color: $rose;
      font-size: 1.125rem;
      padding: 2px 4px;
    }

    &:hover {
      color: $charcoal;
    }
  }

  .active a {
    &:active,
    &:visited,
    &:hover,
    &:link {
      border-top: $single-border $rose;
      color: $charcoal;
    }
  }
}
