@import 'config/MASTER';

.charts-header-nav {
  @extend %align-self-flex-start;
  margin-top: 27px;

  .nav-item {
    background-color: $block-solid;
    border-top: $single-border transparent;
    margin-right: 5px;
    padding: 3px 11px 5px;

    &:hover {
      border-top: $single-border $highlight-2;
    }

    a:active,
    a:visited,
    a:hover,
    a:link {
      @extend %body-upper;
      color: $block-backer;
      font-size: .875rem;
      }

    &:not(:first-child).active {
      margin-left: 5px;
    }
  }

  .active {
    @include box-shadow(-5px -5px 0 0 $block-backer);
    background-color: $block-solid;

    a:active,
    a:visited,
    a:hover,
    a:link {
      color: $text;
    }
  }
}
