@import 'config/MASTER';

.chart-entry {
  @extend %flex-h-flex-start;
  @extend %align-items-center;
  background-color: $block-solid;
  color: $text;
  padding: 30px 0 30px 20px;

  &:not(:first-child) {
    border-top: $single-border $background;
  }
}

.chart-entry-rank {
  @extend %flex-v-center;
  @extend %body-italic;
  background-color: $highlight-2;
  border-radius: 50%;
  color: $block-solid;
  font-size: 2rem;
  height: 3rem;
  min-width: 3rem;
}
