@import 'config/MASTER';

.chart-entry {
  @extend %flex-h-flex-start;
  @extend %align-items-center;
  background-color: $block-solid;
  color: $text;
  padding: 20px 10px;

  &:not(:first-child) {
    border-top: $single-border $background;
  }
}

.chart-entry-rank {
  @extend %flex-v-center;
  @extend %body-italic;
  background-color: $highlight-2;
  border-radius: 50%;
  color: $block-solid;
  font-size: 1.75rem;
  height: 2.5rem;
  margin-left: 20px;
  min-width: 2.5rem;
}
