@import 'config/MASTER';

.chart-entry {
  @extend %flex-h-center;
  @extend %flex-wrap-wrap;
  @extend %align-items-center;
  background-color: $block-solid;
  color: $text;
  padding: 30px 15px;

  &:not(:first-child) {
    border-top: $single-border $background;
  }
}

.chart-entry-rank {
  @extend %flex-h-flex-end;
  @include flex(1, 5, auto);
  margin: -22px 0;
  z-index: 1000;
}

.rank-number {
  @extend %flex-v-center;
  @extend %body-bold-italic;
  background-color: $highlight-2;
  border: $single-border $text;
  border-radius: 50%;
  color: $block-solid;
  font-size: 1.5rem;
  height: 2.75rem;
  min-width: 2.75rem;
  padding-bottom: 4px;
  text-shadow: -2px 2px $block-backer;
}

.spoiler {
  @extend %flex-h-flex-start;
  @include flex(1, 5, auto);
}
