@import 'config/MASTER';

.charts-header-nav {
  margin-top: 27px;

  .nav-item {
    background-color: $block-solid;
    border: $single-border $text;
    margin-right: 7px;
    padding: 5px 9px;

    &:hover {
      border-top: $single-border $highlight-2;
    }

    a:active,
    a:visited,
    a:hover,
    a:link {
      @extend %body-upper;
      border: $thin-border $highlight-2;
      color: $text;
      font-size: .875rem;
      padding: 0 7px 2px;
      }

    &:not(:first-child).active {
      margin-left: 20px;
    }
  }

  .active {
    @include box-shadow(-7px -5px 0 0 $block-backer);
    background-color: $block-solid;
    margin-left: 4px;

    a:active,
    a:visited,
    a:hover,
    a:link {
      color: $text;
    }
  }
}
