@import 'config/MASTER';

.chart-entry-song {
  @extend %flex-h-flex-start-wrap;
  @extend %align-items-center;
  @include flex(6, 1, 280px);
  border-top: $single-border $block-backer;
  padding-top: 5px;
}

.song-header,
.song-details {
  margin: 0 10px;
}

.song-header {
  min-width: 280px;
  text-align: left;
}

.song-title {
  @extend %body-italic;
  font-size: 1.25rem;
  margin-left: 10px;
  padding-top: 5px;
}

.song-details {
  @extend %flex-h-flex-start-wrap;
  @extend %align-items-flex-start;
  font-size: 1.0625rem;
}

.song-artist,
.song-album {
  @extend %flex-h-flex-start;
  @extend %align-items-center;
  margin: 5px 0 0 10px;
}

.song-artist {
  @extend %alt;
  font-size: 1.5rem;
  min-width: 210px;

  .chart-dash {
    width: 60px;
  }
}

.song-album {
  min-width: 210px;

  .chart-dash {
    width: 30px;
  }
}

.chart-dash {
  border-bottom: $single-border $highlight-1;
  height: 0;
  margin-right: 7px;
}

.song-year {
  @extend %body-italic;
  background-color: transparentize($highlight-2, .8);
  font-size: .75rem;
  margin-left: 3px;
  padding: 4px;
}
