
.user-profile {
  // display: flex;
  // flex-flow: column wrap;

  .col-xs-12 {
    padding: 0;
  }
}

.profile-avatar {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.profile-name {
  font-family: $sans-serif-narrow-bold;
  font-size: 1.2rem;
  margin-top: 10px;
  text-transform: none;
}

.profile-stats .stats {
  font-size: .875rem;
  display:  flex;
  flex-flow: row wrap;

  a {
    display: flex;
    flex-flow: row nowrap;
    flex: 0 1 auto;
    padding: 2px 5px;
  }
}

.profile-name,
.profile-stats {
  // padding: 0 10px 5px;
}

.profile-bio {
  background-color: $gray-200;
  padding: 10px;
}
