<nav class="nav navbar navbar-default app-header">
    <!-- Brand and toggle get grouped for better mobile display -->

  <div>
    <span class="navbar-brand ps-app-title">
      <%= link_to "playsette", root_path, id: "logo" %>
    </span>
  </div>

  <div class="app-menus">
    <ul class="nav navbar-nav navbar-left app-nav">
      <%= render 'layouts/menus/main_app_menu' %>
    </ul>

    <ul class="nav navbar-nav navbar-right app-nav-user">
      <% if logged_in? %>
        <%= render 'layouts/menus/main_header_logged_in' %>
      <% else %>
        <%= render 'layouts/menus/main_header_default' %>
      <% end %>
    </ul>
  </div>

</nav>
