<nav class="nav navbar navbar-default app-header">
    <!-- Brand and toggle get grouped for better mobile display -->

  <span class="navbar-left ps-app-title">
    <%= link_to "playsette", root_path, id: "logo" %>
  </span>

  <ul class="nav navbar-right nav-pills app-menu">
    <%= render 'layouts/menus/main_app_menu' %>
    <%= render 'layouts/menus/main_user_menu' %>
</nav>
