<header class="app-header">
  <div class="app-menu nav nav-pills">
    <%= render 'layouts/menus/main_app_menu' %>
    <%= render 'layouts/menus/main_user_menu' %>
  </div>
  <div class="navbar-brand ps-app-title">
    <%= link_to "playsette", root_path, id: 'logo' %>
  </div>
</header>
